/**
 * Site header
 */
.site-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    width: 900px;

    .site-title{
      width: 20%;
    }

    .site-nav{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
            width: 80%;
    }
  }
}
